@import '../../styles/variables.scss';

.dashboard {
  .grid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
  }
}
