@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.select {
  width: 100%;
  max-width: 300px;

  .input {
    position: relative;
    height: 40px;
    user-select: none;
    cursor: pointer;
    width: 100%;
    border-radius: $border-radius-8;
    border: 1px solid $gray-100;
    padding-inline: 12px 40px;
    color: $black-700;
    transition: border-color 0.1s ease-in-out, color 0.1s ease-in-out,
      background-color 0.1s ease-in-out;
    text-align: left;

    .value {
      @include text-m;
      font-weight: $medium;
    }

    .placeholder {
      @include text-m;
      font-weight: $medium;
      color: $gray-400;
    }

    &:focus {
      outline: none;
      border-color: $primary-500;
    }

    .chevron {
      position: absolute;
      top: 8px;
      right: 12px;
      width: 20px;
      height: 20px;
      min-width: 20px;
      color: $gray-400;
      transition: transform 0.15s ease-in-out;
      pointer-events: none;

      &--opened {
        transform: rotate(180deg);
      }
    }

    &:hover {
      .input {
        background-color: $primary-50;
        color: $primary-500;

        &::placeholder {
          color: $primary-500;
        }
      }

      .chevron {
        color: $primary-500;
      }
    }
  }

  &--outline .input {
    background-color: $white;
  }

  &--filled .input {
    background-color: $gray-25;
  }

  &--none .input {
    background-color: transparent;
    border-color: transparent !important;

    &:hover,
    &:focus {
      border-color: $primary-500 !important;
    }
  }

  &-error {
    .input {
      background-color: $red-50 !important;
      border-color: $red-100 !important;
    }
  }

  .error {
    padding-left: 8px;
    margin-top: 4px;
    @include text-s;
    color: $red-500;
  }

  .popup {
    margin-top: 4px;

    .options-wrapper {
      padding: 8px 0;

      .options {
        max-height: 236px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;

        .option {
          width: 100%;
          height: 44px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0px 14px;
          @include text-m;
          font-weight: $medium;
          color: $gray-400;
          cursor: pointer;
          transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
          border: 1px solid transparent;

          &:hover {
            background-color: $primary-50;
            color: $primary-500;
          }

          &:focus {
            outline: none;
            border-color: $primary-500;
          }

          &-first {
            border-top-right-radius: $border-radius-8;
            border-top-left-radius: $border-radius-8;
          }

          &-last {
            border-bottom-right-radius: $border-radius-8;
            border-bottom-left-radius: $border-radius-8;
          }

          &-selected {
            color: $primary-500;
          }

          .icon {
            width: 20px;
            height: 20px;
            min-width: 20px;
          }
        }
      }
    }
  }
}
