@import '../styles/variables.scss';

*,
*::before,
*::after {
  font-family: 'Inter';
}

.form-control {
  border: 1px solid $gray-100;
  background-color: $white;
}

.card {
  border: 1px solid $gray-100;
  background-color: $white;
  box-shadow: $shadow-hard;
}

.scrollbar {
  scroll-behavior: smooth;
}

.scrollbar::-webkit-scrollbar {
  width: 15px;
}

.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px $gray-50;
  border-radius: 100px;
  border: solid 5px transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px $primary-500;
  border-radius: 100px;
  border: solid 5px transparent;
}

.has-footer {
  padding-bottom: 72px;
}
