@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;

  .breadcrumb {
    .link {
      @include text-m;
      color: $primary-500;
      transition: color 0.1s ease-in-out;
      font-weight: $medium;

      &:hover {
        color: $black-500;
      }

      &.active {
        color: $black-500;
      }
    }
  }

  .separator {
    color: $gray-300;

    .chevron {
      width: 18px;
      height: 18px;
      min-width: 18px;
      transform: rotate(-90deg);
    }
  }
}
